.index{
    background-color: #afc2a4;
    padding: 60px 0px;
}
.index h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.lienzo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 4%;
}
.elemento{
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 10px 30px;
    position: relative;
}
.elemento-izquierda{
    width: 30%;
    background-color: black;
    color:white;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elemento-derecha{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.raya-derecha{
    position: absolute;
    right: -30px;
    top: 50%;
    width: 30px;
    border-top: 3px solid #4f8851;
}
.raya-izquierda{
    position: absolute;
    left: -30px;
    top: 50%;
    width: 30px;
    border-top: 3px solid #4f8851;
}

.elemento:first-child .raya-izquierda{
    display: none;
}
.elemento:last-child .raya-derecha{
    display: none;
}




.fucionalidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.funcionalidad{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
}
.funcionalidad form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 330px;
}
.funcionalidad > h3{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.funcionalidad select, .funcionalidad input, .funcionalidad button{
    width: 55%;
    margin-bottom: 20px;
}